{% if categories %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light container">
		<a class="navbar-brand" href="#"><img src="catalog/view/theme/brownCourse/img/logo.png" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" style="justify-content: center;" id="navbarSupportedContent">

			<ul class="navbar-nav">
				<li class="nav-item dropdown submenu active">
					<a class="nav-link" href="http://iljam28o.beget.tech/">
						Home
					</a>
				</li>
				{% for category in categories %}
					{% if category.children %}

						<li class="nav-item dropdown submenu">
							<a class="nav-link dropdown-toggle" href="{{category.href}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{category.name}}
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu">
								{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}

									{% for child in children %}
										<li class="nav-item">
											<a class="nav-link" href="{{child.href}}">
												{{child.name}}</a>
										</li>
									{% endfor %}

								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="nav-item dropdown submenu">
							<a class="nav-link" href="{{category.href}}">
								{{category.name}}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>
{% endif %}
